@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  img {
    @apply inline-block;
  }
}
:root {
  --primary-color: #201e43;
  --secondary-color: #134b70;
  --teal: #508c9b;
  --bg-primary: #eeeeee;
}
body {
  background-color: var(--bg-primary);
  /* font-family: serif; */
}
